@use '../../style/variables';

.new-releases-album-card {

    &__link {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr 1fr;
    }

    &__image {
        max-width: 3.125rem;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 0.5rem;
        box-shadow: variables.$boxshadow;
        grid-row: 1 / 3;
    }

    &__heading {
        font-size: 0.975rem;
        font-weight: 700;
    }

    &__artist {
        font-size: 0.75rem;
        font-weight: 300;
        grid-column: 2 / 3;
    }

    &__tracks {
        font-size: 0.75rem;
        font-weight: 300;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}