@use '../style/variables';

.albums {
    font-size: 0.9375rem;
    display: flex;
    flex-direction: column;
    gap: 2.2969rem;

    &__title {
        padding-inline-start: 1.7575rem;
    }
    
    &__heading {
        font-weight: 700;
        grid-column: 1 / 2;
        padding-inline-start: 1.7575rem;
    }
    
    &__button {
        background-color: transparent;
        border: none;
        color: variables.$pink;
        font-weight: 300;
        cursor: pointer;
        grid-column: 2 / 3;
        width: fit-content;
        justify-self: end;
        padding-inline-end: 1.7575rem;
    }
    
    .albums-featured {
        display: grid;
        grid-template-columns: 2fr 1fr;
        row-gap: 1rem;

        &__list {
            grid-column: 1 / 3;
            display: flex;
        }

        &__item:first-child {
            padding-inline-start: 1.2575rem;
        }

        &__image {
            max-width: 8.125rem;
            aspect-ratio: 1;
            object-fit: cover;
            box-shadow: variables.$boxshadow;
            border-radius: 0.5rem;
            margin: 0.5rem;
        }
    }

    .albums-new-releases {
        display: grid;
        grid-template-columns: 2fr 1fr;
        row-gap: 1rem;

        &__list {
            grid-column: 1 / 3;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-inline: 1.7575rem;
        }
    }
}